@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.main');
  overflow-x: hidden;
}

.herowave {
  background-image: url(./assets/herowave.svg);
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.aboutmewave {
  background-image: url(./assets/aboutmewave.svg);
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  position: relative;
  z-index: -1;
}

.projectwave {
  background-image: url(./assets/projectwave.svg);
  aspect-ratio: 1450/800;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
}

.contactwave {
  background-image: url(./assets/contactwave.svg);
  aspect-ratio: 1450/800;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}